@use '../global/' as global;


.business-hours {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid #E7E7E7;
  border-bottom: 2px solid #E7E7E7;
}

.business-hours__row {
  display: flex;

  & + & {
    margin-top: 30px;
  }
}

.business-hours__ttl {
  width: 90px;
  font-size: 14px;
}

.business-hours__data {
  padding-left: 25px;
  border-left: 2px solid #E7E7E7;
  font-size: 14px;
}

.business-hours__data-row {
  display: flex;

  & + & {
    margin-top: 11px;
  }
}

.business-hours__data-date {
  text-decoration-color: #99E5A5;
  text-decoration-line: underline;
  text-decoration-thickness: 3.5px;
  text-underline-offset: -2px;
  text-decoration-skip-ink: none;
}

.business-hours__data-time {
  display: flex;
  flex-direction: row;
  margin-left: 23px;

  @include global.mq('sp') {
    flex-direction: column;
    align-items: flex-start;
  }
}

.business-hours__data-am {
  
}

.business-hours__data-pm {
  margin-left: 17px;

  @include global.mq('sp') {
    margin-left: 0;
  }
}