@use '../global/' as global;


.news {
  padding-top: 80px;
  padding-bottom: 110px;
}

.news__ttl {
  text-align: center;
}

.news__content {
  margin-top: 65px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  padding-top: 50px;
  padding-right: 66px;
  padding-bottom: 45px;
  padding-left: 66px;

  @include global.mq('sp') {
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.news__headlines {

}

.news__headline {
  padding-bottom: 18px;
  border-bottom: 2px solid #E7E7E7;

  & + & {
    padding-top: 18px;
  }
}

.news__footer {
  margin-top: 35px;
  text-align: right;

  @include global.mq('sp') {
    text-align: center;
  }
}

.news__link {
  display: inline-block;
  position: relative;
  font-weight: global.$font-weight-bold;
  margin-right: -20px;
  padding-right: 20px;
  transition: opacity .3s ease;

  @include global.mq('pc') {
    &:hover, &:focus {
      opacity: 0.7;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent #444444;
  }
}