@use '../global/' as global;


.ttl {
  font-size: 24px;
  font-weight: global.$font-weight-bold;
}

.ttl__line {
  display: block;
  text-decoration-color: #99E5A5;
  text-decoration-line: underline;
  text-decoration-thickness: 10px;
  text-underline-offset: -3px;
  text-decoration-skip-ink: none;

  & + & {
    margin-top: 30px;
  }
}